{
    "title": "Bitbucket Browser",
    "baseUrl": "/bitbucket-browser/stash",
    "debug": false,
    "items": {
        "project": {
            "displayName": "Project"
        },
        "repo": {
            "displayName": "Repository"
        },
        "branch": {
            "displayName": "Branch"
        },
        "branchAuthor": {
            "enabled": true,
            "displayName": "Branch Author"
        },
        "branchCreated": {
            "enabled": true,
            "displayName": "Branch Created"
        },
        "latestCommitDate": {
            "enabled": true,
            "displayName": "Updated"
        },
        "behindAheadBranch": {
            "enabled": true,
            "displayName": "Behind/Ahead Branch"
        },
        "pullRequestStatus": {
            "enabled": true,
            "displayName": "Pull Request Status"
        },
        "buildStatus": {
            "enabled": true,
            "displayName": "Build Status"
        },
        "sonarForBitbucketStatus": {
            "enabled": false,
            "displayName": "Sonar for Stash Metric",
            "resolver": {
                "fields": [
                    {
                        "key": "duplicatedLines",
                        "displayName": "Dupl. lines",
                        "enabled": true
                    },
                    {
                        "key": "coverage",
                        "displayName": "Coverage",
                        "enabled": true
                    },
                    {
                        "key": "violations",
                        "displayName": "Issues",
                        "enabled": false
                    },
                    {
                        "key": "technicalDebt",
                        "displayName": "Tech. dept",
                        "enabled": true
                    }
                ]
            }
        },
        "sonarQubeMetrics": {
            "enabled": false,
            "displayName": "SonarQube Metrics",
            "resolver": {
                "baseUrl": "/sonar",
                "projectBaseKey": "foo.bar",
                "__comment__": "see http://docs.sonarqube.org/display/SONARQUBE43/Metric+definitions",
                "fields": [
                    {
                        "key": "lines",
                        "displayName": "Lines",
                        "enabled": true
                    },
                    {
                        "key": "duplicated_lines",
                        "displayName": "Dupl. lines",
                        "enabled": false
                    },
                    {
                        "key": "blocker_violations",
                        "displayName": "Blocker issues",
                        "enabled": true
                    },
                    {
                        "key": "critical_violations",
                        "displayName": "Critical issues",
                        "enabled": true
                    },
                    {
                        "key": "mejor_violations",
                        "displayName": "Major issues",
                        "enabled": false
                    },
                    {
                        "key": "minor_violations",
                        "displayName": "Minor issues",
                        "enabled": false
                    },
                    {
                        "key": "info_violations",
                        "displayName": "Info issues",
                        "enabled": false
                    },
                    {
                        "key": "sqale_index",
                        "displayName": "Tech. dept",
                        "enabled": false
                    }
                ]
            }
        },
        "branchNameLink": {
            "enabled": true,
            "displayName": "JIRA Ticket",
            "resolver": {
                "pattern": "ISSUE\\-[0-9]+",
                "baseUrl": "http://jira.example.org/browse",
                "displayName": "JIRA Ticket"
            }
        },
        "jiraIssue": {
            "enabled": true,
            "displayName": "JIRA Ticket",
            "resolver": {
                "pattern": "ISSUE\\-[0-9]+",
                "baseUrl": "/jira",
                "linkBaseUrl": "http://jira.example.org/jira",
                "fields": [
                    {
                        "key": "status.name",
                        "displayName": "Status",
                        "enabled": true
                    },
                    {
                        "key": "created",
                        "displayName": "Created",
                        "datePattern": "YYYY/MM/DD",
                        "enabled": true
                    },
                    {
                        "key": "duedate",
                        "displayName": "Due Date",
                        "enabled": true
                    }
                ]
            }
        }
    }
}